body{
  background: #91d6d9;
  color: #424242;
  margin: 0px;
}
#First{
  background: url('../images/Dizayn.jpg')  no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  margin: 0px;
}
.subtitle{
  color: black; border-bottom: 2px solid purple;
  padding-bottom: 10px;
  margin-bottom: 10px;
  flex: center;

}
h3{
  color: #7a7367;
}
h2{
  color: blue;
  text-align: center;
}
h2::first-letter{
  color: green;
}
p{
   color: red;
}
.Lorem_style::first-line{
  color: green;
 }
.href_style:hover{
  color: blue;
  text-decoration: gold underline;
  text-decoration-color: yellow;
  cursor:no-drop;
}
.order_style:active{
  color: white;
  text-decoration: line-through;
  text-decoration-color: black;
}
